.example-card {
    margin: 20px auto;
    max-width: 300px;
    background-color: aquamarine;
    color:darkslategrey;
}

.mat-card-subtitle {
  color:darkslategrey;
}

  button{
      background-color:#fff;
  }
  button:hover{
    background-color:rgb(239, 239, 239);
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  }

  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }